body {
  background-color: #4c0080;
}

body {
  font-family: 'Architects Daughter', cursive;

}

h1 {
  text-align: center;
}
p {
  text-align: center;
}
body { .iframe

width: 100%;

margin: 0 auto;

text-align: center;

}
.fab {
  background-color: #4c0080; /*  background */
  border: none; /* Remove borders */
  color: black; /* White text */
  padding: 24px 32px; /* Some padding */
  font-size: 50px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */

}

/* Darker background on mouse-over */
.fab:hover {
  background-color: #5200cc;
}
.fab {
  text-align: center;
}
